html, body {
    background: #EEE;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: larger;
}
footer {
    font-size: initial;
}
#player {
    width: 100%;
    vertical-align: middle;
}
#label-slider {
    display: inline-block;
    text-align: right;
    width: 70px;
}
#equalizer-container{
	margin-top: 10px;
    height: 235px;
}
#track-title{
	text-align: center;
	font-style: oblique;
	font-size: initial;
}
